body {
    font-family: 'Product Sans', sans-serif;
    /* POLICE D'ECRITURE */
    background: gray;
}

:root {
    --r: #BF1C20;
    /* COULEUR ROUGE */
    --j: #FF8A00;
    /* COULEUR ORANGE */
    --v: #007305;
    /* COULEUR VERT */
    --n: #000000;
    /* COULEUR NOIR */
    --b: #fff;
}

.body {
    overflow: hidden;
    /* DEPASSEMENT CACHEE */
    display: flex;
    /* DISPOSITION */
    align-items: center;
    /* LIGNE CENTREE */
    justify-content: center;
    /* ELEMENT CENTRE */
    min-width: 100%;
    /* LONGEUR MAX */
    min-height: 100%;
    /* HAUTEUR MIN*/
}

.background {
    width: 100%;
    /* LONGEUR */
    height: 100%;
    /* HAUTEUR */
    object-fit: cover;
    /* ADAPTATION FULL ELEMENT */
    object-position: center;
    /* CENTRER BG */
    position: absolute;
    /* POSITION */
    top: 50%;
    /* HAUT */
    left: 50%;
    /* GAUCHE */
    transform: translate(-50%, -50%);
    /* DECALAGE */
    z-index: -1;
    /* POSITION COTE */
    filter: blur(3px) brightness(0.3);
    /* EFFET FLOU ET OPACITEE */
}


/* --- TITRE PAGE --- */

.titre {
    position: absolute;
    font-size: 1.5rem;
    /* TAILLE TEXTE */
    font-weight: bold;
    /* TEXTE EN GRAS */
    color: var(--r);
    /* COULEUR CHANGEANT */
}


/* --- BARE DE NAVIGATION --- */

.nav {
    background-color: #000000b4;
    /* COULEUR FOND CHANGEANT */
    margin-top: 2%;
    margin-left: auto;
    /* MARGE GAUCHE */
    margin-right: auto;
    /* MARGE DROITE */
    border-radius: 35px;
    /* BORDURE ARRONDI */
    width: 95%;
    /* LONGEUR */
    height: 70px;
    /* HAUTEUR */
}

.logo {
    width: 90px;
    /* LONGEUR */
    height: 70%;
    /* HAUTEUR */
    margin-left: 20px;
    /* MARGE GAUCHE */
    margin-top: 10px;
    /* MARGE HAUT */
}

.pp {
    border-radius: 50%;
    /* BORDURE ARRONDI */
    background-color: #fff;
    /* COULEUR FOND */
    width: 50px;
    /* LONGEUR */
    height: 50px;
    /* HAUTEUR */
}

.deco {
    width: 50px;
    /* LONGEUR */
    height: 50px;
    /* HAUTEUR */
    float: right;
    /* POSITION A DROITE */
}


/* --- BOUTON DECONNEXION --- */

.bdeconnexion {
    display: block;
    /* DISPOSITION */
    margin: 40px auto;
    /* MARGE */
    text-align: center;
    /* TEXTE CENTRE */
    background-color: #f9f9f9;
    /* COULEUR FOND */
    color: #333;
    /* COULEUR TEXTE */
    padding: 10px 30px;
    /* CONTOUR ELEMENT */
    border: none;
    /* BORDURE */
    cursor: pointer;
    /* CURSOR */
    border-radius: 5px;
    /* BORDURE ARRONDI */
    font-size: 20px;
    /* TAILLE TEXTE */
}

.bdeconnexion:focus {
    outline: none;
}

.bdeconnexion:hover {
    background-color: var(--r);
    /* COULEUR FOND (PASSAGE) */
    color: #fff;
    /* COULEUR TEXTE (PASSAGE) */
}

.bdeconnexion:active {
    position: relative;
    /* POSITION */
    top: 2px;
    /* HAUT */
}


/* --- BOUTON AFFICHAGE --- */

.baffichage {
    display: block;
    /* DISPOSITION */
    margin: 40px auto;
    /* MARGE */
    text-align: center;
    /* TEXTE CENTRE */
    background-color: #f9f9f9;
    /* COULEUR FOND */
    color: #333;
    /* COULEUR TEXTE */
    padding: 10px 30px;
    /* CONTOUR ELEMENT */
    border: none;
    /* BORDURE */
    cursor: pointer;
    /* CURSOR */
    border-radius: 5px;
    /* BORDURE ARRONDI */
    font-size: 20px;
    /* TAILLE TEXTE */
}

.baffichage:focus {
    outline: none;
}

.baffichage:hover {
    background-color: var(--n);
    /* COULEUR FOND (PASSAGE) */
    color: #fff;
    /* COULEUR TEXTE (PASSAGE) */
}

.baffichage:active {
    position: relative;
    /* POSITION */
    top: 2px;
    /* HAUT */
}


/* --- BOUTON UTILISATEUR --- */

.buser {
    display: block;
    /* DISPOSITION */
    margin: 40px auto;
    /* MARGE */
    text-align: center;
    /* TEXTE CENTRE */
    background-color: #f9f9f9;
    /* COULEUR FOND */
    color: #333;
    /* COULEUR TEXTE */
    padding: 10px 30px;
    /* CONTOUR ELEMENT */
    border: none;
    /* BORDURE */
    cursor: pointer;
    /* CURSOR */
    border-radius: 5px;
    /* BORDURE ARRONDI */
    font-size: 20px;
    /* TAILLE TEXTE */
}

.buser:focus {
    outline: none;
}

.buser:hover {
    background-color: var(--n);
    /* COULEUR FOND (PASSAGE) */
    color: #fff;
    /* COULEUR TEXTE (PASSAGE) */
}

.buser:active {
    position: relative;
    /* POSITION */
    top: 2px;
    /* HAUT */
}


/* --- CAPTEURS EXTERIEUR --- */

.card1 {
    position: absolute;
    left: 2.5%;
    top: 50%;
    transform: translate(0, -45%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.699);
    /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 30%;
    /* LONGEUR MAX */
    min-height: 80%;
    /* HAUTEUR MIN*/
    border-radius: 25px;
    /* BORDURE ARRONDI */
    width: 33%;
    /* LONGEUR */
}

.card1-1 {
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
    /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 100%;
    /* LONGEUR MAX*/
    min-height: 150px;
    /* HAUTEUR MIN*/
    border-radius: 25px 25px 0px 0px;
    /* ARRONDI BORD */
    text-align: center;
    /* CENTRER TEXTE */
    font-weight: bold;
    /* STYLE TEXTE */
    font-size: 25px;
    /* TAILLE TEXTE */
    width: 100%;
    /* LONGEUR */
}

.card1-2 {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* --- CAPTEURS INTERIEUR --- */

.card2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
    /* COULEUR FOND */
    background-color: rgba(0, 0, 0, 0.699);
    /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 30%;
    /* LONGEUR MAX*/
    min-height: 80%;
    /* HAUTEUR MIN*/
    border-radius: 25px;
    /* BORDURE ARRONDI */
    width: 33%;
    /* LONGEUR */
}


/* --- INFOS HEURE --- */

.card3 {
    position: absolute;
    top: 33%;
    right: 2.5%;
    transform: translate(0, -50%);
    color: #fff;
    /* COULEUR TEXTE */
    background-color: rgba(0, 0, 0, 0.699);
    /* COULEUR FOND AVEC TRANSPARENCE */
    width: 30%;
    /* LONGEUR MAX*/
    height: 38%;
    /* HAUTEUR MIN*/
    border-radius: 25px;
    /* BORDURE ARRONDI */
    margin-bottom: 15px;
    /* MARGE EN BAS */
}

.time {
    color: var(--b);
    /* COULEUR TEXTE */
    text-align: center;
}

.heure {
    font-weight: bold;
    /* TEXTE EN GRAS */
    font-size: 7vh;
    /* TAILLE TEXTE */
}

.date {
    font-size: 4.5vh;
    /* TAILLE TEXTE */
}


/* --- REDIRECTION --- */

.card4 {
    position: absolute;
    bottom: 3%;
    right: 2.5%;
    transform: translate(0, -8%);
    color: #fff;
    /* COULEUR TEXTE */
    background-color: rgba(0, 0, 0, 0.699);
    /* COULEUR FOND AVEC TRANSPARENCE */
    width: 30%;
    /* LONGEUR MAX*/
    height: 38%;
    /* HAUTEUR MIN*/
    border-radius: 25px;
    /* BORDURE ARRONDI */
    /* margin-bottom: 15px; */
    /* MARGE EN BAS */
}


/* --- DONNEE DANS LE CERCLE --- */

.cercle1 {
    width: 110px;
    /* HAUTEUR */
    height: 110px;
    /* HAUTEUR */
    border-radius: 50%;
    /* BORDURE RONDE */
    background: rgba(0, 0, 0, 0);
    /* COULEUR FOND TRANSPARENT */
    margin: 10px;
    /* MARGE */
    border: 7px solid var(--r);
    /* LARGEUR, TYPE, COULEUR BORDURE */
    text-align: center;
    /* CENTRER TEXTE */
    /* position: absolute; */
    /* POSITION */
}

.cercle2 {
    width: 110px;
    /* HAUTEUR */
    height: 110px;
    /* HAUTEUR */
    border-radius: 50%;
    /* BORDURE RONDE */
    background: rgba(0, 0, 0, 0);
    /* COULEUR FOND TRANSPARENT */
    margin: 10px;
    /* MARGE */
    border: 7px solid var(--j);
    /* LARGEUR, TYPE, COULEUR BORDURE */
    text-align: center;
    /* CENTRER TEXTE */
    /* position: absolute; */
    /* POSITION */
}

.cercle3 {
    width: 110px;
    /* HAUTEUR */
    height: 110px;
    /* HAUTEUR */
    border-radius: 50%;
    /* BORDURE RONDE */
    background: rgba(0, 0, 0, 0);
    /* COULEUR FOND TRANSPARENT */
    margin: 10px;
    /* MARGE */
    border: 7px solid var(--v);
    /* LARGEUR, TYPE, COULEUR BORDURE */
    text-align: center;
    /* CENTRER TEXTE */
    /* position: absolute; */
    /* POSITION */
}