*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Product Sans', sans-serif;
}

:root{
--red: #BF1C20;
--jaune: #FF8A00;
--vert: #007305
}

.body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(2px) brightness(0.3);
}


/* TITRE PAGE */
.titre{
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--red);
}


/* BARE DE NAVIGATION */
.nav{
    background-color: rgba(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 90%;
    height: 50px;
}
.logo{
    width: 6vh;
    height: 4vh;
    margin-left: 20px;
    margin-top: 5px;
}
.pp{
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
}
.deco{
    width: 50px;
    height: 50px;
    float: right;
}


/*.header{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 100%; LONGEUR
    min-height: 100%; HAUTEUR
    border-radius: 0px;
}*/


/* BOUTON DECONNEXION */
.bdeconnexion{
    display: block;
    margin: 40px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px
}
.bdeconnexion:focus{
    outline: none;
}
.bdeconnexion:hover{
    background-color: var(--red);
    color: #fff;
}
.bdeconnexion:active {
    position: relative;
    top: 2px;
}


/* BOUTON AFFICHAGE */
.baffichage{
    display: block;
    margin: 40px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px
}
.baffichage:focus{
    outline: none;
}
.baffichage:hover{
    background-color: black;
    color: #fff;
}
.baffichage:active {
    position: relative;
    top: 2px;
}


/* BOUTON UTILISATEUR */
.buser{
    display: block;
    margin: 40px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px
}
.buser:focus{
    outline: none;
}
.buser:hover{
    background-color: black;
    color: #fff;
}
.buser:active {
    position: relative;
    top: 2px;
}


/* CAPTEURS EXTERIEUR */
.card2{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px; /* LONGEUR */
    min-height: 600px; /* HAUTEUR */
    border-radius: 25px;
    width:33%;
}
.card2-2{
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
    max-width: 500px; /* LONGEUR */
    min-height: 100px; /* HAUTEUR */
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    font-size: 25px;
    width:100%;
}


/* CAPTEURS INTERIEUR */
.card3{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px; /* LONGEUR */
    min-height: 600px; /* HAUTEUR */
    border-radius: 25px;
    width:33%;
}


/* INFOS HEURE */
.card4{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px; /* LONGEUR */
    min-height: 200px; /* HAUTEUR */
    border-radius: 25px;
    margin-bottom: 15px;
}
.time {
    font-family: "Product Sans", serif;
    color: rgb(0, 0, 0);
}
.heure {
    font-weight: bold;
    font-size: 7vh;
}
.date {
    font-size: 4.5vh;
}


/* REDIRECTION */
.card5{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px; /* LONGEUR */
    min-height: 300px; /* HAUTEUR */
    border-radius: 25px;
}

