body{
    font-family: 'Product Sans', sans-serif; /* POLICE D'ECRITURE */
    background: gray;
}

:root{
--r: #BF1C20; /* COULEUR ROUGE */
--j: #FF8A00; /* COULEUR ORANGE */
--v: #007305; /* COULEUR VERT */
--n: #000000; /* COULEUR NOIR */
}

.body{
    overflow: hidden; /* DEPASSEMENT CACHEE */
    display: flex; /* DISPOSITION */
    align-items: center; /* LIGNE CENTREE */
    justify-content: center; /* ELEMENT CENTRE */
    min-width: 100%; /* LONGEUR MAX */
    min-height: 100%; /* HAUTEUR MIN*/
}
.background{
    width: 100%; /* LONGEUR */
    height: 100%; /* HAUTEUR */
    object-fit: cover; /* ADAPTATION FULL ELEMENT */
    object-position: center; /* CENTRER BG */
    position: absolute; /* POSITION */
    top: 50%; /* HAUT */
    left: 50%; /* GAUCHE */
    transform: translate(-50%, -50%); /* DECALAGE */
    z-index: -1; /* POSITION COTE */
    filter: blur(2px) brightness(0.3); /* EFFET FLOU ET OPACITEE */
}


/* --- TITRE PAGE --- */
.titre{
    padding: 30px; /* MARGE AU TOUR DU TEXTE */
    font-size: 2rem; /* TAILLE TEXTE */
    text-align: center; /* TEXTE CENTRE */
    margin-bottom: 30px; /* MARGE EN BAS */
    font-weight: bold; /* TEXTE EN GRAS */
    color: var(--r); /* COULEUR CHANGEANT */
}


/* --- BARE DE NAVIGATION --- */
.nav{
    background-color: var(--n); /* COULEUR FOND CHANGEANT */
    margin-left: auto; /* MARGE GAUCHE */
    margin-right: auto; /* MARGE DROITE */
    border-radius: 25px; /* BORDURE ARRONDI */
    width: 90%; /* LONGEUR */
    height: 50px; /* HAUTEUR */
}
.logo{
    width: 6vh; /* LONGEUR */
    height: 4vh; /* HAUTEUR */
    margin-left: 20px; /* MARGE GAUCHE */
    margin-top: 5px; /* MARGE HAUT */
}
.pp{
    border-radius: 50%; /* BORDURE ARRONDI */
    background-color: #fff; /* COULEUR FOND */
    width: 50px; /* LONGEUR */
    height: 50px; /* HAUTEUR */
}
.deco{
    width: 50px; /* LONGEUR */
    height: 50px; /* HAUTEUR */
    float: right; /* POSITION A DROITE */
}


/* --- BOUTON DECONNEXION --- */
.bdeconnexion{
    display: block; /* DISPOSITION */
    margin: 40px auto; /* MARGE */
    text-align: center; /* TEXTE CENTRE */
    background-color: #f9f9f9; /* COULEUR FOND */
    color: #333; /* COULEUR TEXTE */
    padding: 10px 30px; /* CONTOUR ELEMENT */
    border: none; /* BORDURE */
    cursor: pointer; /* CURSOR */
    border-radius: 5px; /* BORDURE ARRONDI */
    font-size: 20px; /* TAILLE TEXTE */
}
.bdeconnexion:focus{
    outline: none;
}
.bdeconnexion:hover{
    background-color: var(--r); /* COULEUR FOND (PASSAGE) */ 
    color: #fff; /* COULEUR TEXTE (PASSAGE) */ 
}
.bdeconnexion:active {
    position: relative; /* POSITION */
    top: 2px; /* HAUT */
}


/* --- BOUTON AFFICHAGE --- */
.baffichage{
    display: block; /* DISPOSITION */
    margin: 40px auto; /* MARGE */
    text-align: center; /* TEXTE CENTRE */
    background-color: #f9f9f9; /* COULEUR FOND */
    color: #333; /* COULEUR TEXTE */
    padding: 10px 30px; /* CONTOUR ELEMENT */
    border: none; /* BORDURE */
    cursor: pointer; /* CURSOR */
    border-radius: 5px; /* BORDURE ARRONDI */
    font-size: 20px; /* TAILLE TEXTE */
}
.baffichage:focus{
    outline: none;
}
.baffichage:hover{
    background-color: var(--n); /* COULEUR FOND (PASSAGE) */ 
    color: #fff; /* COULEUR TEXTE (PASSAGE) */ 
}
.baffichage:active {
    position: relative; /* POSITION */
    top: 2px; /* HAUT */
}


/* --- BOUTON UTILISATEUR --- */
.buser{
    display: block; /* DISPOSITION */
    margin: 40px auto; /* MARGE */
    text-align: center; /* TEXTE CENTRE */
    background-color: #f9f9f9; /* COULEUR FOND */
    color: #333; /* COULEUR TEXTE */
    padding: 10px 30px; /* CONTOUR ELEMENT */
    border: none; /* BORDURE */
    cursor: pointer; /* CURSOR */
    border-radius: 5px; /* BORDURE ARRONDI */
    font-size: 20px; /* TAILLE TEXTE */
}
.buser:focus{
    outline: none;
}
.buser:hover{
    background-color: var(--n); /* COULEUR FOND (PASSAGE) */ 
    color: #fff; /* COULEUR TEXTE (PASSAGE) */ 
}
.buser:active {
    position: relative; /* POSITION */
    top: 2px; /* HAUT */
}


/* --- CAPTEURS EXTERIEUR --- */
.card1{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5); /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 500px; /* LONGEUR MAX */
    min-height: 600px; /* HAUTEUR MIN*/
    border-radius: 25px; /* BORDURE ARRONDI */
    width:33%; /* LONGEUR */
}
.card1-2{
    color: #fff;
    background-color: rgba(0, 0, 0, 1); /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 500px; /* LONGEUR MAX*/
    min-height: 100px; /* HAUTEUR MIN*/
    border-radius: 25px 25px 0px 0px; /* ARRONDI BORD */
    text-align: center; /* CENTRER TEXTE */
    font-size: 25px; /* TAILLE TEXTE */
    width:100%; /* LONGEUR */
}


/* --- CAPTEURS INTERIEUR --- */
.card2{
    color: #fff; /* COULEUR FOND */
    background-color: rgba(255, 255, 255, 0.5); /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 500px; /* LONGEUR MAX*/
    min-height: 600px; /* HAUTEUR MIN*/
    border-radius: 25px; /* BORDURE ARRONDI */
    width:33%; /* LONGEUR */
}


/* --- INFOS HEURE --- */
.card3{
    color: #fff; /* COULEUR TEXTE */
    background-color: rgba(255, 255, 255, 0.5); /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 500px; /* LONGEUR MAX*/
    min-height: 200px; /* HAUTEUR MIN*/
    border-radius: 25px; /* BORDURE ARRONDI */
    margin-bottom: 15px; /* MARGE EN BAS */
}
.time {
    color: var(--n); /* COULEUR TEXTE */
}
.heure {
    font-weight: bold; /* TEXTE EN GRAS */
    font-size: 7vh; /* TAILLE TEXTE */
}
.date {
    font-size: 4.5vh; /* TAILLE TEXTE */
}


/* --- REDIRECTION --- */
.card4{
    color: #fff; /* COULEUR TEXTE */
    background-color: rgba(255, 255, 255, 0.5); /* COULEUR FOND AVEC TRANSPARENCE */
    max-width: 500px; /* LONGEUR MAX*/
    min-height: 200px; /* HAUTEUR MIN*/
    border-radius: 25px; /* BORDURE ARRONDI */
    margin-bottom: 15px; /* MARGE EN BAS */
}

.cercle1{
    width: 80px; /* HAUTEUR */
    height: 80px; /* HAUTEUR */
    border-radius: 50%; /* BORDURE RONDE */
    background: #1fe0; /* COULEUR FOND TRANSPARENT */
    margin: 10px; /* MARGE */
    border: 3px solid #BF1C20; /* LARGEUR, TYPE, COULEUR BORDURE */

    text-align: center; /* CENTRER TEXTE */
    position: absolute; /* POSITION */
}