* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Product Sans', sans-serif;
}

.alerte {
    position: absolute;
    transform: translate(-50%, 0);
}

.logo {
    position: absolute;
    margin-right: 10%;
    width: 150px;
    height: 100px;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    filter: blur(2px) brightness(0.4);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.corp {
    position: relative;
}

.time {
    font-family: "Product Sans", serif;
    color: rgb(255, 255, 255);
    margin-left: 80px;
    margin-top: 80px;
}

.heure {
    font-weight: bold;
    font-size: 7vh;
}

.date {
    font-size: 4.5vh;
}

.hinfo {
    position: absolute;
    height: 50px;
}

.background2 {
    font-family: 'Product Sans';
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 30px;
    z-index: 1;
    width: 100%;
    height: 40%;
    border-radius: 50px 50px 0 0;
}

.airext {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

.donné1 {
    padding-left: 10px;
}

.airsalle {
    position: absolute;
    right: 10%;
    top: 35%;
    transform: translate(0, -50%);
    text-align: right;
}

.tsp {
    position: absolute;
    margin: 0%;
    right: 0%;
}

.donné2 {
    padding-right: 10px;
}

:root {
    --r: #BF1C20;
    --j: #FF8A00;
    --v: #007305;
}