*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Product Sans', sans-serif;
}

:root{
--red: #BF1C20;
--jaune: #FF8A00;
--vert: #007305;
}

.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}



.background {
    font-family: 'Product Sans';
    background-image: url("https://julien-gournay.github.io/Qualite-de-l-air/img/lycee.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    top: 0vh;
    Height: 50vh;
}


.background2 {
    font-family: 'Product Sans';
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    color: white;
    text-align: center;
    Height: 50vh;
   
}


.time {
    font-family: "Product Sans", serif;
    color: black;
    text-align: center;
    font-size: 5vh;
}