.e19_47 { 
	overflow:hidden;
}
.e19_47 { 
	width:315px;
	height:289px;
	position:absolute;
}
.e19_48 { 
	background-color:rgba(191.00000381469727, 28.000000230968, 32.00000189244747, 0.20000000298023224);
	width:315px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e19_49 { 
	width:218px;
	height:257px;
	position:absolute;
	left:69px;
	top:32px;
}
.e19_50 { 
	width:50px;
	height:50px;
	position:absolute;
	left:109px;
	top:207px;
}
.e19_51 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_52 { 
	width:35px;
	height:35px;
	position:absolute;
	left:7px;
	top:7px;
}
.ei19_52_19_38 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.33833885192871px;
	height:25.33833885192871px;
	position:absolute;
	left:4.458235263824463px;
	top:5.203427314758301px;
}
.ei19_52_19_39 { 
	background-color:rgba(203.6901068687439, 210.457224547863, 227.37499594688416, 1);
	width:26.25px;
	height:26.25px;
	position:absolute;
	left:-0.08323533087968826px;
	top:-0.8284270763397217px;
	border-radius:Symbol(figma.mixed)px;
}
.ei19_52_19_40 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei19_52_19_40 { 
	width:13.125px;
	height:13.125px;
	position:absolute;
	left:11.583484649658203px;
	top:0.6303465366363525px;
	border-radius:Symbol(figma.mixed)px;
}
.e19_53 { 
	width:177px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_54 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:28px;
	position:absolute;
	left:18px;
	top:120px;
	font-family:Product Sans;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e19_55 { 
	color:rgba(255, 255, 255, 1);
	width:177px;
	height:28px;
	position:absolute;
	left:0px;
	top:153px;
	font-family:Product Sans;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e19_56 { 
	width:100px;
	height:115px;
	position:absolute;
	left:39px;
	top:0px;
}
.e19_57 { 
	border-radius:500px;
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/icon/admin.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_57 { 
	border:3px solid rgba(0, 51.425007954239845, 233.7500050663948, 1);
}
.e19_449 { 
	box-shadow:0px 0px 5px rgba(0, 0, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:35px;
	top:85px;
}
.e19_450 { 
	background-color:rgba(0, 51.425007954239845, 233.7500050663948, 1);
	width:17.5px;
	height:20.347862243652344px;
	position:absolute;
	left:6.25px;
	top:4.079878807067871px;
	border-radius:Symbol(figma.mixed)px;
}
.e19_59 { 
	width:50px;
	height:50px;
	position:absolute;
	left:168px;
	top:207px;
}
.e19_60 { 
	border-radius:500px;
	background-color:rgba(191.00000381469727, 28.000000230968, 32.00000189244747, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_61 { 
	width:35px;
	height:35px;
	position:absolute;
	left:7px;
	top:7px;
}
.ei19_61_15_136 { 
	border-radius:500px;
	width:20.416667938232422px;
	height:8.75px;
	position:absolute;
	left:7.291666507720947px;
	top:5.833333492279053px;
}
.i19_61_15_136 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei19_61_15_137 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.444446563720703px;
	height:17.3856201171875px;
	position:absolute;
	left:7.777777671813965px;
	top:11.781045913696289px;
}
.i19_61_15_138 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei19_61_15_138 { 
	width:20.416667938232422px;
	height:23.333332061767578px;
	position:absolute;
	left:7.291666507720947px;
	top:10.208333015441895px;
	border-radius:Symbol(figma.mixed)px;
}
