* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.background {
    font-family: 'Product Sans';
    background-image: url("https://julien-gournay.github.io/Qualite-de-l-air/img/lycee.png");
    background-repeat: no-repeat;
    position: relative;
    color: white;
    top: 0vh;
    Height: 30vh;
}


.background2 {
    font-family: 'Quicksand';
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    color: white;
    text-align: center;
    Height: 50vh;
   
}

.info {
    
}


.time {
    font-family: "Quicksand", serif;
    color: black;
    text-align: center;
    font-size: 5vh;
}